* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(red ,blue);
    opacity: 0.8;
}

.container {
    background-color: rgb(227, 226, 226);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font: 100 1.1rem sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    outline: none;
    margin: 10px;

}

button {
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: rgb(63, 63, 230);
}

.task {
    background-color: rgb(221, 217, 217);
    font: 100 1.1rem sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin: 2vmax;
}

.task>div {
    width: 100%;
}

.task span {
    color: rgb(78, 76, 76);
}

.deletebtn{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    
}
.deletebtn:hover{
    background-color: crimson;
}

